*{
    font-family: "Arial", sans-serif;
}
.preview{
    height: 930px;
    position: relative;
}
.pg-br{
    page-break-after: always;
}
.data-table{
    width: 730px;
    position: relative;
    margin-top: 30px;
}
.preview-2 .data-table{
    margin-top: 0;
}
.line-TB{
    position: absolute;
    top: 0;
    left: 50%;
    height: 98%;
    border-left: 2px dashed gray ;
}
.font-17{
    font-size: 17px;
}
.font-15{
    font-size: 15px;
}
.font-14{
    font-size: 15px;
}
.line-LR{
    position: absolute;
    top: 48.5%;
    left: 0;
    width: 100%;
    border-bottom: 2px dashed gray ;
}
.single-section{
    z-index: 1;
    width: 350px;
    height: 455px;
    position: absolute;
    top: 0;
    left: 0;
    /*overflow: hidden !important;*/
}
.water-mark{
    position: absolute;
    z-index: 0;
    top: 48.3%;
    left: 49%;
    transform: translate(-50%,-50%);
    width: 65px;
    background-color: #fff;
    padding: 5px 9px;
}
.water-mark img{
    width: 100%;
    opacity: .7;
}
.personal-use-only{
    position: absolute;
    z-index: 0;
    left: 49%;
    top: 48.1%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 5px 9px;
}
.single-section-2{
    z-index: 1;
    position: absolute;
    top: 470px;
    left: 0;
    margin-top: 10px; }
.single-section-3{
    z-index: 1;
    position: absolute;
    top: 0;
    left: inherit;
    right: 0; }
.single-section-4{
    z-index: 1;
    position: absolute;
    top: 480px;
    left: inherit;
    right: 0; }
.single-row{
    height: 24px;
    overflow: hidden;
    border: 1px solid #000 ;
    border-top: none;
}
.single-row:first-child{
    border-top: 1px solid #000;
}
.single-row.even{
    background-color: lightgray !important;
}
.route-name{
    float: left;
    width: 70%;
    margin-top: -20px;
}
.route-name span{
    font-weight: 400;
}
.clear{
    clear: both;
}
img{
    width: 18px;
}
.d-inblock{
    display: inline-block;
    vertical-align: top;
}
.port_a_poty_icon{
    height: 18px;
    width: auto;
}
.turn{
    width: 40px;
    padding: 2px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #000;
    height: 24px;
    line-height: 22px;
    font-size: 16px;
    position: relative;
    word-break: break-word;
    font-weight: 700;
}
.dist{
    width: 50px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #000;
    height: 24px;
    line-height: 22px;
    font-size: 16px;
    padding-right: 7px;
    position: relative;
    word-break: break-word;
    font-weight: 700;
}
.turn .left_right {
    padding: 0;
    width: 100%;
    background-color: #fff;
}
.turn.rest-stop #img{
    width: 25px !important;
    margin-top: 5px;
}
.turn .road_num .p-text{
    color: #000;
    position: relative;
    z-index: 99;
    margin: 0;
    margin-left: 2px;
    font-size: 17px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 4px;
    width: 45px;
    height: 20px;
}
.turn .road_num{
    background-color: #000 !important;
    position: relative;
    display: block;
    border: 3px solid #000;
    height: 20px;
    width: 55px;
    margin-left: -8px;
    margin-top: -3px;
}
.turn .road_num img{
    float: right;
    margin-top: -19px;
    margin-right: -4px;
    width: 17px;
}
.turn #end-flag{
    height: 17px;
}
.center_hide{
    position: absolute;
    top: 48.5%;
    left: 47.8%;
    width: 34px;
    height: 30px;
    z-index: 999;
}
.note{
    width: 230px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 27px;
    margin-top: -15px;
    margin-left: 7px;
    -ms-word-break: break-all;
    word-break: break-all;
    font-weight: 700;
    font-size: 15px;
}
.note_2_j{
    font-size: 15px;
    width: 193px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
    height: 22px;
    line-height: 22px;
    font-weight: 700;
    overflow: hidden;
}
.note span{
    float: right;
    width: 40px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
}
.alert_j{
    display: inline-block;
    vertical-align: top;
    margin-right: -5px !important;
    margin-top: 17px;
    width: 25px;
}
.alert_j.rest_stop{
    margin-right: 8px !important;
    margin-top: 20px;
    width: 35px;
}

.alert_j img{
    padding-top:2px;
}
.alert_j.rest_stop img{
    padding-right: 15px;
}
.pos-rel-z1 {
    width: 50px;
    display: block;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    border: 3px solid #000;
    height: 20px;
    line-height: 19px;
    margin-left: -8px;
    margin-top: -3px;
    background-color: #fff;
}
.pos-rel-z1 img{
    margin-top: 2px;
    height: 15px;
    width: auto;
}
.pos-rel-z1 img + span{
    margin-left: 4px;
}
.info-box{
    position: relative;
    z-index: 999;
    margin-top: -10px;
}
.info-box:first-child {
    margin-top:10px;
}
.info-box .info_icon{
    position: relative;
    padding-left: 3px;
}
.info-box .info_icon img{
    width: 20px;
    margin-left:  5px;
    margin-right: 5px;
}
.info-box .info_icon.rs-icon img{
    width: 25px;
    margin-top: 3px;
}
.info-box .info_icon.info-edit-icon img{
    width: 20px;
    margin-top: 3px;
}
.info-box .info_icon .miles{
    width: 50px;
    margin-top: 5px;
    text-align: right;
    padding-right: 7px;
    display: inline-block;
}
.info-box .info_icon .note-title{
    width: 265px;
    padding-left: 10px;
}
.info-box .note-info_j{
    margin-left: 90px;
    margin-top: -15px;
}
.info-box .note-info_j .p-text{
    line-height: 16px;
    font-size: 16px;
}
.info-box .cc-img img{
    width: 30px !important;
    margin-left: 3px !important;
    margin-top: 2px !important;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
}
.footer .copyright_text{
    position: absolute;
    left: 0;
    margin-top: 5px;
    font-weight: 400;
}
.footer .credit{
    position: absolute;
    right: 0;
    margin-top: 5px;
    font-weight: 400;
}

.in_text{
    float: left;
    padding-left: 65px;
}
.fw-7{
    font-weight: 700;
}

.footer .turn{
    border: none;
}
.footer .turn .road_num .p-text{
    color: #000;
    position: relative;
    z-index: 99;
    margin: 0;
    margin-top: 0px;
    margin-left: 1px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 4px;
    width: 35px;
    height: 16px;
    line-height: 16px;
}
.footer #option_for_turn .road_num{
    line-height: 28px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: -5px;
    left: 5px;
}
.footer #option_for_turn img{
    width: 40px;
}
.leave_rest_stop{
    margin-left: 5px;
    margin-top: 3px;
}
.word_wrap {
    word-wrap: break-word;
    word-break: break-all;
}
.info-box .info_icon .rest_stop_info {
    padding-left: 5px;
}